4. Look for patterns in referrals and re-referrals on the basis of the following:
    - Age
    - Referral source
    - Socioeconomic status (County SES)

descriptives of age of referral (mean, median, min, max, histogram)
descriptives of age of re-referral (mean, median, min, max, histogram)
percentage breakdown of referrals and re-referrals by referral source
PCP: 20%
foster parent: 15%
breakdown of referrals by county SES
    attainment: 30%
    at-risk:20%

In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
import numpy as np

%matplotlib inline

In [4]:
import re

In [10]:
clean_data=pd.read_csv('../data/teis_final_data.csv')

In [68]:
age = clean_data[['Notification Date','DOB','POE','Child ID','County Name','County SES']]
age

percentage = clean_data[['County SES','Referral Source Type Name']]
percentage

percentage.head(5)

     County SES Referral Source Type Name
0   Competitive                       DCS
1       At-Risk                       PCP
2  Transitional                    Parent
3       At-Risk                    Parent
4  Transitional           Dept. of Health

In [11]:
clean_data.head(5)

,Child ID,Notification Date,Fiscal Year,Notification Month,Tenn Region,Fiscal Year.1,third_DOB,Late Referral,Qtr,POE,...,Service Coordinator,Parent Consent,Initial Eligibility,Initial Eligibility Date,Initial IFSP Date,Latest IFSP,Exit Reason,Exit Date,Referral Source Type Name,Year
0,104085,2018-01-20,2017-2018,Jan,Middle,2017.0,2010-07-07,1.0,3.0,GN,...,NaN,NaN,NaN,NaN,NaN,NaN,Unable to contact,2010-01-25,DCS,2018
1,350065,2016-08-17,2016-2017,Aug,Middle,2016.0,2016-10-15,1.0,1.0,UC,...,Steven Scarlett,NaN,NaN,NaN,NaN,NaN,Unable to contact,2016-08-31,PCP,2016
2,351755,2016-07-12,2016-2017,Jul,Western,2016.0,2016-11-13,NaN,1.0,NW,...,Rene Bard,2016-07-12,Ineligible,8/25/2016,NaN,NaN,Ineligible for Part C,2016-08-25,Parent,2016
3,353800,2016-09-14,2016-2017,Sep,Eastern,2016.0,2016-10-01,1.0,1.0,FT,...,Jennifer Terranera - 45 days,NaN,NaN,NaN,NaN,NaN,Referral less than 45 days,2016-09-15,Parent,2016
4,353805,2016-08-05,2016-2017,Aug,Middle,2016.0,2016-12-04,NaN,1.0,UC,...,Anna Bolin,2016-08-15,Eligible,10/5/2016,10/10/2016,NaN,618 - Part B eligibility not determined,2016-12-03,Dept. of Health,2016

In [13]:
age.dtypes

Notification Date    object
DOB                  object
POE                  object
Child ID              int64
County Name          object
County SES           object
dtype: object

In [14]:
age['Notification Date']=pd.to_datetime(age['Notification Date'])

C:\Users\sheno\AppData\Local\Temp\ipykernel_31736\710523179.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  age['Notification Date']=pd.to_datetime(age['Notification Date'])

In [15]:
age['DOB']=pd.to_datetime(age['DOB'])

C:\Users\sheno\AppData\Local\Temp\ipykernel_31736\356649217.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  age['DOB']=pd.to_datetime(age['DOB'])

In [16]:
age['kids_age'] = (age['Notification Date'] - age['DOB'])

C:\Users\sheno\AppData\Local\Temp\ipykernel_31736\1059758760.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  age['kids_age'] = (age['Notification Date'] - age['DOB'])

In [17]:
age.dtypes

Notification Date     datetime64[ns]
DOB                   datetime64[ns]
POE                           object
Child ID                       int64
County Name                   object
County SES                    object
kids_age             timedelta64[ns]
dtype: object

In [18]:
age

,Notification Date,DOB,POE,Child ID,County Name,County SES,kids_age
0,2018-01-20,2007-07-07,GN,104085,Davidson,Competitive,3850 days
1,2016-08-17,2013-10-15,UC,350065,Jackson,At-Risk,1037 days
2,2016-07-12,2013-11-13,NW,351755,Madison,Transitional,972 days
3,2016-09-14,2013-10-01,FT,353800,Hawkins,At-Risk,1079 days
4,2016-08-05,2013-12-04,UC,353805,Putnam,Transitional,975 days
...,...,...,...,...,...,...,...
115519,2022-07-01,2020-05-20,GN,531592,Montgomery,Transitional,772 days
115520,2022-07-01,2021-12-07,GN,531593,Davidson,Competitive,206 days
115521,2022-07-01,2022-06-21,GN,531594,Montgomery,Transitional,10 days
115522,2022-07-01,2022-06-17,GN,531595,Davidson,Competitive,14 days
115523,2022-07-01,2019-12-26,SC,531596,Rutherford,Competitive,918 days

In [19]:
years = age[age['kids_age'].isin([1095])]
years

Empty DataFrame
Columns: [Notification Date, DOB, POE, Child ID, County Name, County SES, kids_age]
Index: []

In [ ]:
#percentage breakdown of referrals and re-referrals by referral source (e.g. PCP: 20%, foster parent: 15%)

In [40]:
percentage.dtypes

dtype('int64')

In [41]:
percentage

County SES    Referral Source Type Name
Transitional  PCP                              26793
              DCS                              17967
              Parent                           13439
Competitive   PCP                              10935
              Parent                            5403
                                               ...
              LEA                                  1
Attainment    OT                                   1
              Community/Child Find Activity        1
At-Risk       TIPS                                 1
              CAPTA                                1
Length: 105, dtype: int64

In [60]:
percentage.isnull().sum()/len('Referral Source Type Name')

County SES                   0.16
Referral Source Type Name    0.00
dtype: float64

In [59]:
percentage.isnull().sum()/len('County SES')

County SES                   0.4
Referral Source Type Name    0.0
dtype: float64

In [86]:
percentage.count()

County SES                   115520
Referral Source Type Name    115524
dtype: int64

In [89]:
percentage.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115524 entries, 0 to 115523
Data columns (total 2 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   County SES                 115520 non-null  object
 1   Referral Source Type Name  115524 non-null  object
dtypes: object(2)
memory usage: 1.8+ MB

In [97]:
percentage_missing = percentage.isna()
percentage_missing.head()

   County SES  Referral Source Type Name
0       False                      False
1       False                      False
2       False                      False
3       False                      False
4       False                      False

In [98]:
percentage.isna().sum().round(4) * 100

County SES                   400
Referral Source Type Name      0
dtype: int64

In [99]:
re_referrals = clean_data[clean_data.duplicated(subset='Child ID', keep='first')]
re_referrals

,Child ID,Notification Date,Fiscal Year,Notification Month,Tenn Region,Fiscal Year.1,third_DOB,Late Referral,Qtr,POE,...,Service Coordinator,Parent Consent,Initial Eligibility,Initial Eligibility Date,Initial IFSP Date,Latest IFSP,Exit Reason,Exit Date,Referral Source Type Name,Year
25,360966,2017-01-12,2016-2017,Jan,Eastern,2016.0,2017-01-18,1.0,3.0,ET,...,Cassidy Wilbanks,NaN,NaN,NaN,NaN,NaN,Referral less than 45 days,2017-01-17,DCS,2017
27,361021,2016-11-29,2016-2017,Nov,Eastern,2016.0,2017-02-17,1.0,2.0,ET,...,Cathy Taylor,2016-11-29,Eligible,12/5/2016,12/21/2016,1/5/2017,618 - Part B eligible,2017-02-16,Family and Friends,2016
29,361038,2016-08-26,2016-2017,Aug,Middle,2016.0,2016-12-25,NaN,1.0,GN,...,Mary Jane Ratliff,2016-09-02,Ineligible,4/30/2014,NaN,NaN,Unable to contact,NaN,DCS,2016
31,361040,2016-10-28,2016-2017,Oct,Eastern,2016.0,2017-01-22,1.0,2.0,ET,...,Brandi Mohr,2016-10-28,Eligible,4/2/2014,4/17/2014,11/2/2016,618 - Part B eligibility not determined,2017-01-21,Parent,2016
47,363098,2016-09-29,2016-2017,Sep,Middle,2016.0,2017-04-07,NaN,1.0,SC,...,Jennifer Shope,2016-10-04,Eligible,8/12/2014,8/22/2014,10/4/2016,NaN,NaN,DCS,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113471,529200,2022-06-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,FT,...,Signal Centers-EEA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Parent,2022
113561,529303,2022-06-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SE,...,Signal Centers-EEA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Parent,2022
113605,529365,2022-06-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UC,...,Kim Correll,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Parent,2022
113657,529416,2022-05-26,2021-2022,May,Middle,2021.0,2022-10-09,NaN,4.0,GN,...,Michael Chideckel Admin,NaN,NaN,NaN,NaN,NaN,Parent decline,NaN,Dept. of Health,2022
113753,529524,2022-05-31,2021-2022,May,Eastern,2021.0,2023-11-02,NaN,4.0,ET,...,Jennifer Nicely,NaN,NaN,NaN,NaN,NaN,Unable to contact,NaN,PCP,2022

In [104]:
re_referrals_by_source = re_referrals.groupby(['Referral Source Type Name'])['Child ID'].count()

In [105]:
re_referrals_by_source

Referral Source Type Name
Child Care provider                52
Community/Child Find Activity      43
DCS                              4211
DHS                                 2
Dept. of Health                   672
EIRA                               61
Early Head Start/Head Start       167
Family and Friends                 98
Foster Parent                     115
Hospital                         1169
LEA                                 2
NHS                                52
NICU                              558
OT                                 16
Other                             469
Other Health Care Provider        445
PCP                              6664
PICU                                2
PT                                109
Parent                           3780
Speech Therapist                   92
TIPS                                2
Name: Child ID, dtype: int64

In [106]:
referrals_by_source = clean_data.groupby(['Referral Source Type Name'])['Child ID'].count()

In [107]:
referrals_by_source

Referral Source Type Name
CAPTA                                2
Child Care provider                434
Community/Child Find Activity      386
DCS                              25721
DHS                                 13
DMRS                                 1
Dept. of Health                   3675
EIRA                               351
Early Head Start/Head Start       1025
Family and Friends                 516
Foster Parent                      421
Hospital                          7292
LEA                                 16
NHS                                222
NICU                              3275
OT                                  86
Other                             2612
Other Health Care Provider        2326
PCP                              43899
PICU                                26
PT                                 623
Parent                           21944
Speech Therapist                   654
TIPS                                 4
Name: Child ID, dtype: int64

In [108]:
referrals_by_source = clean_data.groupby(['Referral Source Type Name'])['Child ID'].sum()/(clean_data.groupby(['Referral Source Type Name'])['Child ID']).count()

In [113]:
referrals_by_source

Referral Source Type Name
CAPTA                            445112.000000
Child Care provider              466208.375576
Community/Child Find Activity    454743.816062
DCS                              463325.881303
DHS                              455220.076923
DMRS                             499796.000000
Dept. of Health                  450238.590748
EIRA                             453470.754986
Early Head Start/Head Start      459059.283902
Family and Friends               454213.606589
Foster Parent                    453652.945368
Hospital                         463082.449945
LEA                              458783.312500
NHS                              460827.806306
NICU                             463041.807939
OT                               479859.953488
Other                            465424.514931
Other Health Care Provider       465794.179278
PCP                              467715.976833
PICU                             468485.500000
PT                               463266.441413
Parent                           461913.582574
Speech Therapist                 477420.769113
TIPS                             445233.500000
Name: Child ID, dtype: float64

In [114]:
referrals_by_source =(clean_data.groupby(['Referral Source Type Name'])['Child ID'].count())/(clean_data['Child ID'].count())*100

In [141]:
referrals_source_percentage=referrals_by_source.to_frame().reset_index()
referrals_source_percentage = referrals_source_percentage.rename(columns = {'Child ID':'Percentage'})
referrals_source_percentage.sort_values(by = 'Percentage', ascending = False)

        Referral Source Type Name  Percentage
18                            PCP   37.999896
3                             DCS   22.264638
21                         Parent   18.995187
11                       Hospital    6.312108
6                 Dept. of Health    3.181157
14                           NICU    2.834909
16                          Other    2.261002
17     Other Health Care Provider    2.013434
8     Early Head Start/Head Start    0.887262
22               Speech Therapist    0.566116
20                             PT    0.539282
9              Family and Friends    0.446660
1             Child Care provider    0.375680
10                  Foster Parent    0.364426
2   Community/Child Find Activity    0.334130
7                            EIRA    0.303833
13                            NHS    0.192168
15                             OT    0.074443
19                           PICU    0.022506
12                            LEA    0.013850
4                             DHS    0.011253
23                           TIPS    0.003462
0                           CAPTA    0.001731
5                            DMRS    0.000866

In [136]:
re_referrals_by_source =(re_referrals.groupby(['Referral Source Type Name'])['Child ID'].count())/(re_referrals['Child ID'].count())*100

In [140]:
re_referrals_source_percentage=re_referrals_by_source.to_frame().reset_index()
re_referrals_source_percentage=re_referrals_source_percentage.rename(columns = {'Child ID':'Percentage'})
re_referrals_source_percentage.sort_values(by = 'Percentage', ascending = False)

        Referral Source Type Name  Percentage
16                            PCP   35.482669
2                             DCS   22.421596
19                         Parent   20.126724
9                        Hospital    6.224376
4                 Dept. of Health    3.578084
12                           NICU    2.971088
14                          Other    2.497205
15     Other Health Care Provider    2.369416
6     Early Head Start/Head Start    0.889197
8                   Foster Parent    0.612321
18                             PT    0.580374
7              Family and Friends    0.521804
20               Speech Therapist    0.489857
5                            EIRA    0.324796
0             Child Care provider    0.276876
11                            NHS    0.276876
1   Community/Child Find Activity    0.228955
13                             OT    0.085192
17                           PICU    0.010649
10                            LEA    0.010649
3                             DHS    0.010649
21                           TIPS    0.010649

In [143]:
fig =re_referrals_source_percentage.get_figure()
fig.savefig("table1.png")

AttributeError: 'DataFrame' object has no attribute 're_referrals_source_percentage'